<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Yanv</title>
        <script>
            if (!Object.hasOwn(window, 'yanv')) {
                console.log("Creating a new yanv namespace");
                window.yanv = {};
            }
        </script>
        <link rel="stylesheet" href="/scripts/jquery/jquery-ui.css">
        <script src="/scripts/jquery/jquery.js"></script>
        <script src="/scripts/jquery/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/style/yanv.css">
        <script type="module" src="/scripts/utility.js"></script>
        <script type="module" src="/scripts/value.js"></script>
        <script type="module" src="/scripts/elements.js"></script>
        <script type="module" src="/scripts/client.js"></script>
        <script type="module" src="/scripts/responses.js"></script>
        <script type="module" src="/scripts/requests.js"></script>
        <script type="module" src="/scripts/yanv.js"></script>
    </head>
    <body>
        <div id="on-screen">
            <div id="global-header" class="yanv-header yanv-global-header">
                <h1>Yet Another NetCDF Viewer</h1>
            </div>
            <div id="global-toolbar" class="yanv-toolbar yanv-global-toolbar">
                <button id="load-button" class="yanv-when-connected">Load</button>
                <input class="yanv-when-disconnected" type="text" id="connection-path" value="ws">
                <button class="yanv-when-disconnected" id="connect-button">Connect</button>
            </div>
            <div id="content">
                <ul id="content-tabs">

                </ul>
            </div>
        </div>
        <div id="loading-modal" class="yanv-dialog yanv-modal yanv-loading-dialog">
            <p>
                Loading the <span id="currently-loading-dataset"></span> dataset
            </p>
            <div id="loading-progress-bar"></div>
            <button id="close-loading-modal-button">OK</button>
        </div>
        <div id="load-dialog" class="yanv-dialog yanv-modal yanv-input-dialog" title="Load Netcdf File">
            <div id="load-dialog-content" class="yanv-dialog-content">
                <input id="open-path" name="open-path">
                <button id="open-dataset-button">Load</button>
            </div>
        </div>
        <div id="error-dialog" class="yanv-dialog yanv-modal yanv-error-dialog" title="Error">
            <div id="error-dialog-content" class="yanv-dialog-content yanv-error-content">
                <b>Message ID:</b> <span id="failed-message-id" class="yanv-error-details"></span>
                <br>
                <b>Failed on:</b> <span id="failed_message_type" class="yanv-error-details"></span>
                <p id="error-message" class="yanv-error-message"></p>
            </div>
        </div>
    </body>
</html>