<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="module" src="/scripts/client.js"></script>
    <script type="module" src="/scripts/responses.js"></script>
    <script type="module" src="/scripts/requests.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", async function(event) {
            if (!Object.hasOwn(window, 'yanv')) {
                window.yanv = {};
            }
            window.yanv.client = new window.yanv.YanvClient("ws");
            await yanv.client.connect("ws");

            // FOR TESTING PURPOSES - REMOVE ASAP
            const nc_url = "/Users/christopher.tubbs/PycharmProjects/Yanv/test/resources/test.nc"
            const request = new yanv.FileSelectionRequest({path: nc_url})
            await yanv.client.send(request);
        });
    </script>
</head>
<body>
    <h1>This is the Yanv index page</h1>
</body>
</html>