:root {
    --border-color: #C5C5C5;
    --empty-container-color: #f6f6f6;
    --toolbar-height: 33px;
    --toolbar-background-color: #cecece;
    font-family: sans-serif;
}

#on-screen {
    height: 98vh;
    overflow: hidden;
}

.yanv-tab.yanv-container {
    height: 75vh !important;
    width: 100%;
    display: flex;
}

.yanv-field-wrapper {
    overflow-y: auto;
    width: 99%;
}

#load-dialog-content {
    display: flex;
    width: 100%;
    padding: 10px;
}

#load-dialog {
    overflow-x: hidden;
}

input#open-path {
    width: 100%;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-widget-overlay {
    opacity: 0.5;
}

#loading-modal {
    width: 50%;
}

#no-content-block {
    border: 2px solid var(--border-color);
    background-color: var(--empty-container-color);
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yanv-toolbar {
    height: var(--toolbar-height);
    background-color: var(--toolbar-background-color);
}

.yanv-toolbar button, .yanv-toolbar input {
    height: var(--toolbar-height);
}

.yanv-table, .yanv-table-row, .yanv-table-cell {
    border: 1px solid var(--border-color);
    border-collapse: collapse
}

.yanv-table {
    background-color: var(--empty-container-color);
}

.yanv-table-cell {
    background-color: white;
}

.yanv-table-row th, .yanv-table-row td {
    padding: 5px;
    cursor: pointer;
}

.yanv-key-value-table {
    width: 100%
}

.yanv-key-table-cell {
    font-weight: bold;
    width: 10%
}

.ui-icon-close {
    cursor: pointer;
}